{
    "parser": "@typescript-eslint/parser",
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "extends": ["plugin:react/recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto"
            }
        ],
        "react/prop-types": "off",
        "@typescript-eslint/no-var-requires": "off",
        "react/react-in-jsx-scope": "off",

        // TODO: On refactor set "error"
        "@typescript-eslint/no-empty-function": "warn",
        "react/no-unescaped-entities": "off",
        "react/jsx-key": "warn",
        "prefer-const": "warn",
        "@typescript-eslint/ban-types": "warn",
        "@typescript-eslint/no-empty-interface": "warn",
        "@typescript-eslint/no-inferrable-types": "warn"
        
        //ENDTODO
    }
}
