<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/_mainLayout :: layout(~{::title}, 
  ~{::section#pageID}, ~{::script} )}">


<title>IRME - Admin application</title>

<body>

  <section id="pageID">
    <div class="container">
      <h1 th:text="${msg}">Home page</h1>
    </div>
  </section>

  <script>
    $(document).ready(function () {
      $("#menu-toggle").css("display", "block")
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#container-sidebar-wrapper").toggleClass("toggled");
      });
    })


  </script>

</body>


</html>