<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/_mainLayout :: layout(~{::title}, 
  ~{::section#pageID}, ~{::script} )}">


<title>IRME - Admin application</title>

<body>

  <section id="pageID">
    <div class="container">
      <div class="w-100" style="height: 10px;"></div>
      <div id="alertPlaceID"></div>

      <div class="row">
        <div class="col-md-4 my-3">
          <button id="createOrganisationButtonID" type="button" class="btn btn-primary">Add organisation</button>
        </div>
        <div class="col-md-8"></div>
      </div>

      <form th:action="@{/organisations/addOrganisation}" method="POST"
        class="my-3 collapse multi-collapse card card-body" id="createOrganisationCollapseID">
        <input name="base64logo" type="hidden" class="form-control" id="base64logoHiddenId" />

        <div class="row">

          <div class="col">
            <div class="">
              <div class="form-group">
                <label for="userEmail">Name:</label>
                <input name="name" type="text" class="form-control" id="userEmail" placeholder="">
              </div>
              <div class="form-group">
                <label for="userFirstName">Description:</label>
                <input name="description" type="text" class="form-control" id="userFirstName" placeholder="">
              </div>

              <button id="createUserSubmitBtn" type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="userEmail">Logo:</label>
              <div class="custom-file">
                <input id="logoFileInputId" type="file" class="custom-file-input">
                <label class="custom-file-label">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="userEmail">Logo preview:</label>
              <img id="logoPreviewId" src="#" style="width: 150px; height: 150px;">
            </div>
          </div>
        </div>
        <div id="sumbitResultMessage" class="row mt-2 alert" role="alert"></div>
      </form>



      <div th:each="orgsArr : ${partitionedOrganisationsList}" class="card-deck row mt-3">

        <div th:each="organisation : ${orgsArr}" class="card">
          <img th:if="${organisation.base64ImageLogo == null} or ${organisation.base64ImageLogo == ''}" class="card-img-top" th:src="@{/static/noOrganisationLogo.jpg}" alt="Card image cap">
          <img th:unless="${organisation.base64ImageLogo == null} or ${organisation.base64ImageLogo == ''}" class="card-img-top" th:src="${organisation.base64ImageLogo}" alt="Card image cap">
          <div class="card-body">
            <h5 th:text="${organisation.name}" class="card-title"></h5>
            <p th:text="${organisation.description}" class="card-text"></p>
            <p class="card-text"><small th:text="${#dates.format(organisation.created, 'dd-MMM-yyyy')}" class="text-muted"></small></p>
            <a href="#" class="btn btn-primary">Info</a>
          </div>
        </div>

      </div>

    </div>
  </section>


  <th:block id="script">
    <script th:src="@{/static/templates/organisations.js}"></script>
  </th:block>


</body>


</html>