<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/_mainLayout :: layout(~{::title}, 
  ~{::section#pageID}, ~{::script} )}">


<title>IRME - Admin application</title>

<body>

  <section id="pageID">
    <div class="container">
      <div class="row">
        <div class="col my-3">
          <a id="createUserColapseId" class="btn btn-success" role="button">Create user</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="createUserColapseBlockId">
            <div class="card card-body">
              <div class="form-group">
                <label for="userEmail">User email:</label>
                <input type="text" class="form-control" id="userEmail" placeholder="">
              </div>
              <div class="form-group">
                <label for="userPassword">User password:</label>
                <input type="text" class="form-control" id="userPassword" placeholder="">
              </div>

              <div class="form-group">
                <label for="userPassword">User roles:</label>
                <ul id="rolesInputId" class="list-group">

                </ul>
              </div>


              <button id="createUserSubmitBtn" type="button" class="btn btn-primary">Create</button>

            </div>
          </div>
        </div>
        <div class="col">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-sm bg-light mt-2">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <script>
    $(document).ready(function () {
      $("#menu-toggle").css("display", "block")
      $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#container-sidebar-wrapper").toggleClass("toggled");
      });

      $("#createUserColapseId").click(function (e) {
        $("#createUserColapseBlockId").collapse("toggle")
      })

      $("#createUserSubmitBtn").on("click", function (e) {
        e.preventDefault()

        var selectedRoles = []

        $("#rolesInputId").children("li").each(function (index, elem) {
          var checkbox = elem.getElementsByTagName("input")[0]
          var checkboxText = elem.getElementsByTagName("span")[0]

          console.log(index, checkbox.checked, checkboxText.textContent)
        })


      })

      $.ajax({
        url: "/api/users/allRoles",
        type: "GET",
        dataType: "json",
        success: function (res) {
          for (var i = 0; i < res.length; i++) {
            var item = res[i]
            var parent = $("#rolesInputId")

            var htmlElement = "<li class=\"list-group-item\">" +
              "<input class=\"form-check-input ms-2\" type=\"checkbox\" />" +
              "<span>" + item + "</span>" +
              "</li>"

            parent.html(parent.html() + htmlElement)
          }
        }
      });

    })


  </script>

</body>


</html>