<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/_mainLayout :: layout(~{::title}, 
  ~{::section#pageID}, ~{::#script} )}">


<title>IRME - Admin application</title>

<body>

  <section id="pageID">
    <div class="container">
      <div class="row  ">
        <div class="col my-3">
          <a id="createUserColapseId" class="btn btn-success" role="button">Create user</a>
        </div>
        <div class="col my-3">
          <div class="dropdown">
            <label class="">
              <b>Find by Email:</b>
            </label>
            <button class="btn btn-secondary h-100 invisible" type="button" id="usersDropdownMenuBtnID"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button>
            <input type="text" name="" id="searchUserByEmailInputID" />
            <div id="usersDropdownMenuID" style="max-height: 200px; overflow-y: auto;" class="dropdown-menu"
              aria-labelledby="dropdownMenu2">

              <div class="text-center">
                <img th:src="@{/static/spinner01.gif}" alt="">
              </div>

              <a href="#" class="btn btn-secondary dropdown-item" role="button" >Link</a>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse multi-collapse card card-body" id="createUserColapseBlockId">
        <div class="row">
          <div class="col">
            <div class="">
              <div class="form-group">
                <label for="userEmail">User email:</label>
                <input type="email" class="form-control" id="userEmail" placeholder="">
              </div>
              <div class="form-group">
                <label for="userFirstName">First name:</label>
                <input type="text" class="form-control" id="userFirstName" placeholder="">
              </div>
              <div class="form-group">
                <label for="userPassword">User roles:</label>
                <ul id="rolesInputId" class="list-group">

                </ul>
              </div>
              <button id="createUserSubmitBtn" type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="userPassword">User password:</label>
              <input type="password" class="form-control" id="userPassword" placeholder="">
            </div>
            <div class="form-group">
              <label for="userLastName">Last name:</label>
              <input type="text" class="form-control" id="userLastName" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Country:</label>
              <select id="countriesSelect" class="form-select form-select-sm" aria-label=".form-select-sm example">
              </select>
            </div>
          </div>

        </div>
        <div id="sumbitResultMessage" class="row mt-2 alert" role="alert"></div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-sm bg-light mt-2 mb-1">
            <thead>
              <tr>
                <th scope="col">ID:</th>
                <th scope="col">Email:</th>
                <th scope="col">First name:</th>
                <th scope="col">Last name:</th>
                <th scope="col">Roles:</th>
              </tr>
            </thead>
            <tbody id="usersTBody">

            </tbody>
          </table>
          <div class="my-2">
            <button id="fetchNextUsersBtn" type="button" class="btn btn-primary">Fetch next users</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <th:block id="script">
    <script th:src="@{/static/debounceFunction.js}"></script>
    <script th:src="@{/static/users.js}"></script>
  </th:block>

</body>


</html>