body {
  background: #dfe6e9;
  overflow-x: hidden;
  min-width: 400px;
}

nav.navbar.navbar-expand.navbar-dark.bg-primary.fixed-top{
  height: 40px
}

main {
  margin-top: 40px;
}

#pageID {
  background: #dfe6e9;
}